@model UserRegistrationModel
<title>Welcome</title>
<link href="~/css/registerAndLogin.css" rel="stylesheet" />
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form id="registrationForm" method="post" asp-action="Register">
			<h1>Create Account</h1>
			<span>user your email for registration</span>
			<input type="email" id="email" name="email" placeholder="Email" required />
			<input type="password" id="password" name="password" placeholder="Password" required />
			<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />
			<button type="submit">Sign up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form id="loginForm" method="post" asp-action="Login">
			<h1>Sign in</h1>
			<span>user your account</span>
			<input type="email" name="email" placeholder="Email" required/>
			<input type="password" name="password" placeholder="Password" required/>
			<input type="hidden" name="confirmPassword"/>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script src="~/js/registerAndLogin.js"></script>