@model FormFlow.Models.FormCreateModel

@{
    ViewData["Title"] = "Create Form";
}

<h1>Create Form</h1>

<form asp-controller="Form" asp-action="Create" method="post">
    <div class="form-group">
        <input type="text" placeholder="Title" class="form-control" id="title" name="title" value="@Model.Title" required>
    </div>

    <div class="form-group">
        <label for="status">Status:</label>
        <select class="form-control" id="status" name="status">
            <option value="0" selected>Public</option>
            <option value="1">Private</option>
            <option value="2">Domain</option>
        </select>
    </div>

    <div>
        <input type="text" name="question1" id="question1" placeholder="question 1" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="~/js/formcreate.js"></script>