@{
	ViewData["Title"] = "Home Page";
}

<div class="mt-4">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-danger" role="alert" id="error-message">
			</div>
		</div>
	</div>

	<div id="form-list">
		<!-- Data will be populated here dynamically -->
	</div>
</div>

<script>
    // Fetch data from the API
	fetch('/api/forms')
		.then(response => {
			if (response.status === 200) {
				return response.json()
					.then(forms => {
						const formList = document.getElementById('form-list');
						const errorMessage = document.getElementById('error-message');

						if (forms.length === 0) {
							errorMessage.innerText = 'No forms available.';
						} else {
							errorMessage.style.display = 'none';

							forms.forEach(form => {
								const formItem = document.createElement('div');
								formItem.className = 'row';
								formItem.innerHTML = `
											<div class="col-6">
												<h4><strong>${form.title}</strong></h4>
											</div>
											<div class="col-4 my-auto text-center">
												<a href="/api/forms/${form.id}" class="btn btn-warning">Contribute</a>
											</div>
											<div class="col-2">
												<!-- Add any other information here if needed -->
											</div>
											<hr />
										`;
								formList.appendChild(formItem);
							});
						}
					})
			} else if (response.status === 403) {
				return response.json()
					.then(data => {
						const errorMessage = document.getElementById('error-message')
						errorMessage.innerText = data.ErrorMessage
					})
			} else {
				console.error('Error:', response.status)
			}
		})
        .catch(error => {
            console.error('Error:', error);
            const errorMessage = document.getElementById('error-message');
            errorMessage.innerText = 'An error occurred while fetching data from the API.';
        });
</script>