@{
	ViewData["Title"] = "Home Page";
}

@model IEnumerable<Form>

<form method="post" class="mt-4">
	@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
	{
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger" role="alert">
					@ViewData["ErrorMessage"]
				</div>
			</div>
		</div>
	}
	@foreach (var form in Model)
	{
		<div class="row">
			<div class="col-6">
				<h4><strong>@form.Title</strong></h4>
			</div>
			<div class="col-4 my-auto text-center">
				<a asp-controller="Form" asp-action="Display" asp-route-id="@form.Id" class="btn btn-warning">Contribute</a>
			</div>
		</div>
		<hr/>
	}
</form>